@charset "utf-8";
body {
    background: #3d7dd3;
}
.wrapper {
    position: relative;
    padding-top: 17.8rem;
    background: url("../images/img_01.jpg") no-repeat top left;
    background-size: 100%;
}
.btn {
    position: absolute;
    top: 16.2rem;
    left: 50%;
    width: 6.3rem;
    height: 0.8rem;
    margin-left: -3.15rem;
}
.text {
    width: 7rem;
    line-height: 1.5em;
    margin: 0 auto;
    padding: 0.35rem 0;
    font-size: 0.18rem;
    color: #ffffff;
}
.text p {
    text-indent: 2em;
}